<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <!-- Enable camel case mapping, e.g., user_name -> userName -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- Enable lazy loading -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- Print SQL logs to console -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <setting name="localCacheScope" value="STATEMENT"/>
        <setting name="cacheEnabled" value="false"/>
    </settings>

    <environments default="swisskit">
        <environment id="swisskit">
            <transactionManager type="JDBC"/>
            <dataSource type="org.apache.ibatis.datasource.unpooled.UnpooledDataSourceFactory">
                <property name="driver" value="org.sqlite.JDBC"/>
                <!-- Database stored in .swisskit folder under running root directory -->
                <property name="url" value="jdbc:sqlite:.swisskit/swisskit.db"/>
            </dataSource>
        </environment>
    </environments>




    <!-- Register all Mappers -->
    <mappers>
        <mapper resource="mapper/SwissKitSettingEmailMapper.xml"/>
        <mapper resource="mapper/excel/ComplexSplitConfigMapper.xml"/>
    </mappers>

</configuration>