<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fan.summer.database.mapper.excel.ComplexSplitConfigMapper">
    <insert id="insert"
            parameterType="fan.summer.database.entity.excel.ComplexSplitConfigEntity"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO complex_split_config
            (task_id, field_name, sheet_name, header_index, column_index)
        VALUES (#{taskId}, #{fieldName}, #{sheetName}, #{headerIndex}, #{columnIndex})
    </insert>
    <delete id="deleteAllByTaskId"
            parameterType="string"
    >
        delete
        from complex_split_config
        where task_id = #{taskId}
    </delete>
    <select id="selectAllByTaskId"
            parameterType="string"
            resultType="fan.summer.database.entity.excel.ComplexSplitConfigEntity">
        select *
        from complex_split_config
        where task_id = #{taskId}
    </select>

    <update id="update"
            parameterType="fan.summer.database.entity.excel.ComplexSplitConfigEntity"
    >
        UPDATE complex_split_config
        SET
            header_index = #{headerIndex},
            column_index = #{columnIndex}
        WHERE task_id = #{taskId}
          AND sheet_name = #{sheetName}
    </update>
</mapper>